@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*
My colors:
#002a29
#007a79
#c7cedf
#976f4f
#4d2a16
#1497ab
*/
/*Section 1*/


/*Footer styling*/

.footer {
    text-align: center;
    clear: both;
    margin-top: 200px;
    min-height: 100%;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h1 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
}


/*End of section 1*/


/*Section 2*/


/*Body styling*/

html {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(#007a79, #c7cedf);
    background-attachment: fixed;
    ;
}

element.style {
    font-family: 'Oswald', sans-serif;
}
body{
    color: black;
}


/*End of section 2*/


/*Section 3*/


/*Header list, toolbar*/
.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}
.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
   /* W3C */
    transition-duration: 0.3s;
}
.hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

.bounce {
    animation-duration: 2s;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li{
    float: left;
}


/*End of section 3*/


/*Section 4*/


/*Table that icluded the registiration form.*/

#LoginTable {
    background-color: rgb(172, 166, 164);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;
    background-color: #000000;
    /*#976f4f
#4d2a16*/
    background-image: linear-gradient(315deg, #002a29 , rgb(0, 0, 0) );
    filter: drop-shadow(10px 10px 4px #ebe9fd);
}


/*Register button*/

.SubmitRegister {
    height: auto;
    width: auto;
    margin-top: 10px;
    border-radius: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: white;
    font-size: xx-large;
    font-weight: 900;
}


/*All the inputs for example: First name, Last name , etc..*/

input {
    font-size: larger;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 140px;
    height: 20px;
    padding: 5px;
    border-color: black;
    border-radius: 20px;
    padding-left: 10px;
}


/*Switches color on gender selection*/

.radio-toolbar input[type="radio"][id="male"]:checked+label {
    background-color: rgb(17, 168, 214);
    color: white;
}

.radio-toolbar input[type="radio"][id="female"]:checked+label {
    background-color: hotpink;
    color: white;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    width: 150px;
    height: 17px;
    margin-right: 13px;
    padding: 2.5px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: Calibri;
    color: black;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}


/*Centering the form to the middle.*/

#form {
    margin-top: 100px;
}

#country {
    font-size: larger;
    font-family: Calibri;
    margin-right: 0px;
    margin-top: -8px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 130px;
    height: 33px;
    border-color: black;
    border-radius: 20px;
    padding-left: 10px;
}

#email {
    width: 320px;
}

#phoneNumber {
    margin-left: -30px;
    width: 170px;
}

#TOS {
    width: auto;
    height: auto;
}

#toslink {
    font-weight: 100;
    font-size: small;
    color: red;
}


/*End of section 4*/


/*Section 5*/

.idle {
    color: #ebe9fd;
    text-align: center;
    margin-top: 250px;
}


/*TOS font color - white , font size is big.*/

#rules {
    color: white;
    font-size: 50px;
    text-align: right;
}


/*End of section 5*/


/*Section 6*/

#gametable1,
#gametable2,
#gametable3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 10%;
    border: 5px solid;
    border-color: #ebe9fd;
    display: none;
}

.gametds {
    height: 25px;
}

#GameDiv {
    margin: 30px;
    background-color: #ffffff;
    border: 3px solid black;
    opacity: 0.6;
    height: 80%;
    width: 80%;
}

#GameDiv h1 {
    margin: 5%;
    color: black;
    text-align: center;
}

#modal-content {
    background: white;
    width: 450px;
    min-height: 550px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid black;
    opacity: 0.6;
}

.show {
    display: block;
}

.hide {
    display: none;
}
#gameMenu{
    background-color: rgb(141, 187, 187);
}
.gameDifficulty{
}
